.s1{
    padding-top: 50px;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.infobox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    margin-bottom: 50px;
}

.infobox > h5{
    color: #5863f8;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 18px;
}

.infobox > h2{
    font-size: 42px;
    
}

.formsbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.textareabox{
    max-width: 450px;
    width: 100%;
    height: 290px;
}

textarea{

    width: 100%;
    height: 100%;
    resize: none;
    background-color: white;
    padding: 20px;
    border: 2px solid lightgray;
}

textarea::placeholder{
    color: lightgray
}

.inputbox{
    max-width: 350px;
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: ;
    flex-wrap: wrap;
}

.inputbox > input{
    width: 100%;
    height: 59px;
    padding: 12px 20px;
    border: 2px solid lightgray;
    cursor: pointer;
}